%link {
  text-decoration: none;
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%input {
  // padding: 5px 10px;
  // background: $primary-color;
  // border: 1px solid #d8d8d8;
  // border-radius: 5px;
}

%btn-icon {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all $cubic;
}

%btn {
  @include font(500, 17px, 1.4);
  color: $primary-color;
  padding: 18px 43px;
  border-radius: 60px;
}
