$primary-color: #ffffff;
$primary-text-color: #272525;
$alternate-bg-color: #eef1f6;
$secondery-text-color: #454747;
$secondery-color: #3c336c;
$accent-color: #4b51ef;
$light-color: #a3a3a3;
$success-color: #52cf4f;
$error-color: #d91313;
$main-gradient: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$font: Glory, sans-serif;
