@import '../../assets/styles/main.scss';

.item {
}

.wrapper {
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.owner {
}

.decr {
}

.name {
}

.quantity {
}

.price {
}
