@import '../../assets/styles/main.scss';

.item {
  background-color: $primary-color;
  border-radius: 12px;
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.owner {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.05;
}

.decr {
}

.name {
}

.quantity {
}

.price {
}
