.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(250, 251, 253, 0.44);
  padding: 20px;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 105.5%;
}

// @media screen and (min-width: 520px) {
//   .app {
//     grid-template-columns: auto 1fr auto;
//   }
// }

// @media screen and (min-width: 682px) {
//   .app {
//     grid-template-columns: auto 665px auto;
//   }
// }
