@import '../../assets/styles/main.scss';

.header {
  position: fixed;
  width: 100%;
  background: rgba(250, 251, 253, 0.8);
  padding: 20px;
  z-index: 999;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.logo {
  @extend %link;
  @include font(700, 36px, 1.05);
  color: $primary-text-color;
  &:hover {
    color: $secondery-text-color;
  }
}

.catalog {
  @extend %link;
  @include font(600, 24px, 1.05);
  color: $primary-text-color;
  &:hover {
    color: $secondery-text-color;
  }
}

.nav {
  display: grid;
  display: 10px;
}

.btn {
  width: 46px;
  height: 46px;
}

@media screen and (min-width: 1240px) {
  .header {
    display: grid;
    grid-template-columns: auto 1140px auto;
  }
  .navigation {
    grid-column: 2 / -2;
  }
}
