@import '../../assets/styles/main.scss';

.main {
  display: grid;
  gap: 20px;
  position: relative;
  padding: 100px 20px 20px 20px;
  grid-column: 1 / -1;
}

.available {
  align-content: flex-start;
  justify-self: end;
  align-self: center;
}

.more {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 520px) {
  // .main {
  //   grid-template-columns: auto 1fr;
  //   grid-template-rows: 1fr;
  //   grid-column: 2 / 3;
  // }
}
