@import '../../assets/styles/main.scss';

.products {
  display: grid;
  gap: 20px;

  @extend %list;
}

@media screen and (min-width: 480px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
