@import '../../assets/styles/main.scss';

.container {
  display: grid;
  gap: 20px;
  background: url('../../assets/img/bg.png') no-repeat 0 -30px;
}

.available {
  align-content: flex-start;
  justify-self: end;
  align-self: center;
  align-self: flex-start;

  & button:first-child {
    margin: 10px;
  }
}

.more {
  justify-self: center;
  align-self: center;
  align-self: flex-end;
}

.error {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 1240px) {
  .container {
    grid-column: 2 / -2;
  }

  .more {
    grid-column: 2 / -2;
  }

  .error {
    grid-column: 2 / -2;
  }
}
