@import '../../assets/styles/main.scss';

.overlay {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  top: 85px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.3);
}

.modal {
  min-width: 250px;
  min-height: 150px;
  padding: 20px;
  background-color: $primary-color;
}
