.spinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 18px;
}

.loader {
  border-right: 0.1em solid currentcolor;
  border-radius: 100%;
  -webkit-animation: loader 800ms linear infinite;
  animation: loader 800ms linear infinite;
}
.loader:before,
.loader:after {
  content: '';
  width: 1.1em;
  height: 1.1em;
  display: block;
  position: absolute;
  top: calc(50% - 0.4em);
  left: calc(50% - 0.4em);
  border-left: 0.08em solid currentcolor;
  border-radius: 100%;
  animation: loader 400ms linear infinite reverse;
}
.loader:after {
  width: 0.8em;
  height: 0.8em;
  top: calc(50% - 0.3em);
  left: calc(50% - 0.3em);
  border: 0;
  border-right: 0.05em solid currentcolor;
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes loader {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes loader {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1240px) {
  .spinner {
    grid-column: 2 / -2;
  }
}
